.split-hoz-multi-wrapper {
	padding: 20px;
	background-size: cover;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.split-hoz-multi-main-title {
	background: transparent;
	font-size: 24px;
	font-weight: bold;
}

.split-hoz-multi-box-main-title {
    background: transparent;
}

.split-hoz-multi-box-main-des {
    background: transparent;
}